body {
  padding: 0;
  margin: 0;
  background-color: black;
}

canvas {
  margin: auto;
  display:block;
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: none !important;
  transition: opacity 1s;
}
.gameCanvas{
  z-index:-1;
  display:none;
}
